/* Initial loading Indicator */
div.intro-loader::after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #3366ff;
  border-color: #3366ff transparent #3366ff transparent;
  position: absolute;
  left: 50%;
  margin-left: -23px;
  top: 50%;
  margin-top: -23px;
  animation: dual-ring 1.2s linear infinite;
}

/* ubuntu-regular - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}

* {
  outline: 0;
}

html,
body,
div.container,
section.search-bar {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

noscript p {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
}

div.container {
  max-width: 64rem;
  margin: auto;
}

div.container > section {
  margin-bottom: 2rem;
}

div.container > section.search-bar {
  position: relative; /* To use alert panel absolute */
  display: table;
  margin: auto;
}

div.form-container {
  max-width: 20rem;
  display: table-cell;
  vertical-align: middle;
}

/* Search Bar */
form {
  box-shadow: 0px 0px 10px 0px #3366ff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

form > div {
  margin-bottom: 1rem;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0.35);
}

form > div.submit-wrapper {
  border-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

div.input-container {
  width: 100%;
  padding: 0 1rem;
}

input[name='search'] {
  display: block;
  background-color: transparent;
  height: 100%;
  color: #fff;
  border: 0;
}

div.submit-wrapper div.input-container {
  width: 100%;
  padding: 0;
}

div.input-container button[type='submit'] {
  border: 0;
  width: 100%;
  height: 2rem;
  background-color: #3366ff;
  transition: background-color 0.2s ease-out;
}

div.input-container button[type='submit']:hover {
  background-color: #0039e6;
  cursor: pointer;
}

/* Search icon */
.search.icon {
  color: #fff;
  position: relative;
  width: 12px;
  height: 12px;
  margin: auto;
  border: solid 2px currentColor;
  border-radius: 100%;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.search.icon:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 0.5rem;
  width: 2px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}

/* Loading icon */
#search-form.loading .search.icon {
  display: inline-block;
  height: auto;
  width: auto;
  border: none;
  border-radius: 0;
  transform: rotate(0);
}

#search-form.loading .search.icon:after {
  position: static;
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: inherit;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Horizontal search bar */
@media (min-width: 23.125rem) {
  div.form-container {
    max-width: none;
  }

  #search-form {
    padding: 0;
    border-radius: 0;
  }

  #search-form > div {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
  }
  #search-form div.input-container {
    padding: 0;
    width: inherit;
  }
  #search-form div.input-container button[type='submit'] {
    width: auto;
    height: auto;
    padding: 1rem;
  }
  input[name='search'] {
    padding-left: 1rem;
  }
}

@media (min-width: 41.15rem) {
  p.alert-text {
    font-size: inherit;
  }
  input#search {
    width: 31rem;
  }
  div.wrapper {
    border: 1px solid #3366ff;
    margin: 0.5rem;
  }
}
