/* ubuntu-regular - latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('../assets/fonts/ubuntu-v13-latin-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.woff') format('woff'),
    /* Modern Browsers */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/ubuntu-v13-latin-ext-regular.svg#Ubuntu')
      format('svg'); /* Legacy iOS */
}

* {
  outline: 0;
}

html,
body,
div.container,
section.search-bar {
  height: 100%;
}

body {
  font-family: 'Ubuntu';
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

noscript p {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
}

div.container {
  max-width: 64rem;
  margin: auto;
}

div.container > section {
  margin-bottom: 2rem;
}

div.container > section.search-bar {
  position: relative; /* To use alert panel absolute */
  display: table;
  margin: auto;
}

/* Alert Box */
div.alert-container {
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  color: #fff;
  padding: 0 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px red;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

div.alert-container.show {
  opacity: 1;
}

p.alert-text {
  font-size: 0.7rem;
}

div.form-container {
  max-width: 20rem;
  display: table-cell;
  vertical-align: middle;
}

/* Searc Bar */
form {
  box-shadow: 0px 0px 10px 0px #3366ff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

form > div {
  margin-bottom: 1rem;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0.35);
}

form > div.submit-wrapper {
  border-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

div.input-container {
  width: 100%;
  padding: 0 1rem;
}

input[name='search'] {
  display: block;
  background-color: transparent;
  height: 100%;
  color: #fff;
  border: 0;
}

div.submit-wrapper div.input-container {
  width: 100%;
  padding: 0;
}

div.input-container button[type='submit'] {
  border: 0;
  width: 100%;
  height: 2rem;
  background-color: #3366ff;
  transition: background-color 0.2s ease-out;
}

div.input-container button[type='submit']:hover {
  background-color: #0039e6;
  cursor: pointer;
}

.search.icon {
  color: #fff;
  position: relative;
  width: 12px;
  height: 12px;
  margin: auto;
  border: solid 2px currentColor;
  border-radius: 100%;
  transform: rotate(-45deg);
  transition: all 0.2s ease-in-out;
}

.search.icon:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 0.5rem;
  width: 2px;
  background-color: currentColor;
  transition: all 0.2s ease-in-out;
}

#search-form.loading .search.icon {
  display: inline-block;
  height: auto;
  width: auto;
  border: none;
  border-radius: 0;
  transform: rotate(0);
}

#search-form.loading .search.icon:after {
  position: static;
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  background-color: inherit;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: dual-ring 1.2s linear infinite;
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media */
div.intro {
  text-align: center;
}

div.intro > div.form-container {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Filter Form */
div.intro form {
  box-shadow: 0px 0px 10px 0px #00cc00;
}

div.radio-wrapper {
  text-align: left;
}

div.radio-wrapper > div.input-container {
  padding: 0 0 0 1rem;
}

div.radio {
  display: inline-block;
  margin: auto;
  width: 30%;
}

div.radio:hover,
div.radio:hover * {
  cursor: pointer;
}

div.radio input[type='radio'] {
  margin-left: 4px;
  vertical-align: middle;
}

div.filter {
  max-width: 22rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

div.filter-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
}

div.filter-wrapper > p {
  margin: 0;
}

div.filter-wrapper-column {
  margin-bottom: 1rem;
  min-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px rgba(255, 255, 255, 0.35);
}
div.filter-wrapper-column > span:first-child {
  float: left;
}

div.filter-wrapper-column > span > span {
  margin-left: 1rem;
}

div.filter-wrapper-column > input {
  background-color: transparent;
  height: 100%;
  color: #fff;
  border: 0;
}

/* Results */
div.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #3366ff;
}

div.wrapper > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

div.wrapper > .header,
div.wrapper > .text {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  top: 0;
  padding-top: 1rem;
}

.header h1 {
  font-size: 1em;
}

.image {
  display: table-cell;
  vertical-align: middle;
  height: 300px;
  width: 300px;
}

.image img,
.image video {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.text {
  bottom: 0;
  padding-bottom: 1rem;
}

.text > p {
  font-size: 0.5rem;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.text > p::before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}

.text > p::after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #000;
}

/* MODAL */
div.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 990;
}

div.modal .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 995;
  background: rgba(0, 0, 0, 0.85);
}

div.modal_content {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  width: 100%;
}

div.modal_content > div.wrapper {
  border: none;
  width: 100%;
}

div.modal_content div.wrapper > div.header {
  position: static;
}

div.modal_content div.wrapper > div.image {
  height: auto;
  padding: 0;
  display: block;
  margin: auto;
  width: 100%;
}

div.modal_content div.image > img {
  display: block;
  margin: auto;
}

div.modal_content div.wrapper > div.text {
  position: static;
}

div.modal_content div.text p {
  font-size: inherit;
  max-height: none;
}

div.modal_content > h2 {
  font-size: 28px;
  font-weight: 200;
  margin: 20px 0 40px;
  text-align: center;
}

div.modal_content .buttons_wrapper {
  padding: 20px;
}

div.modal .close_modal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  color: #fff;
  z-index: 996;
}

div.modal .close_modal:hover {
  opacity: 0.9;
}

/* Horizontal search bar */
@media (min-width: 23.125rem) {
  div.form-container {
    max-width: none;
  }

  #search-form {
    padding: 0;
    border-radius: 0;
  }

  #search-form > div {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
  }
  #search-form div.input-container {
    padding: 0;
    width: inherit;
  }
  #search-form div.input-container button[type='submit'] {
    width: auto;
    height: auto;
    padding: 1rem;
  }
  input[name='search'] {
    padding-left: 1rem;
  }
}
@media (min-width: 41.15rem) {
  p.alert-text {
    font-size: inherit;
  }
  input#search {
    width: 31rem;
  }
  div.wrapper {
    border: 1px solid #3366ff;
    margin: 0.5rem;
  }

  /* Filter Form */
  form.filter-form {
    border-radius: 0;
    padding: 1rem;
  }

  form.filter-form > div {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
    min-height: 0;
  }

  form.filter-form > div > div.input-container {
    padding: 0;
  }

  div.radio {
    width: auto;
  }

  div.radio input[type='radio'] {
    margin-right: 1rem;
  }

  input[name='search'] {
    width: auto;
  }
}
